#contact {
    text-align: center;
}


#profile_image {
    margin: 0 auto;
    max-width: 40%;
    text-align: center;
    display: block;
    border-radius: 50%;
}

#name {
    border-bottom: double medium #000099;
    width: 50%;
    margin: 0 auto 10px auto;
}